In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('https://datapolitan-training-files.s3.amazonaws.com/20200508_Police_Arrests.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (14,30,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.shape

(84364, 65)

In [3]:
df.head()

,IncidentNum,ArrestYr,ArrestNumber,ArArrestDate,ArArrestTime,ArBkDate,ArLAddress,ArLApt,ArLZip,ArLCity,...,TatooComment,Occupation,JobSchStatus,Employer,Drug,DrugRelated,DrugType,ClothingWorn,Expunged,UpZDate
0,052503-2018,2018,18-008234,03/12/2018 12:00:00 AM,12:02,03/12/2018 01:28:34 PM,2809 E LEDBETTER DR,NaN,75216.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"WHITE SHIRT, BLUE JEANS, GRAY HOODIE, TAN SHOES",NaN,2018-03-14 12:40:08
1,055105-2016,2016,16-009843,03/06/2016 12:00:00 AM,22:13,03/06/2016 11:42:15 PM,6500 STARKEY ST,NaN,75232.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: BLACK T SHIRT Jacket: GREY AND BLACK HO...,NaN,2016-03-24 11:36:19
2,095586-2019,2019,19-016816,05/14/2019 12:00:00 AM,01:25,05/14/2019 04:06:27 AM,9731 TREVOR DR,NaN,75243.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,Uknown,NaN,"WHITE TSHIRT, BLACK SWEATPANTS, BLACK SOCKS, N...",NaN,2019-05-14 11:55:41
3,139944-2017,2017,17-025468,06/20/2017 12:00:00 AM,19:00,06/20/2017 08:27:02 PM,4002 MARSHALL ST,NaN,75210.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,Shirt: GREEN SHIRT Jacket: N/A Pants: CAMO PAN...,NaN,2017-06-22 13:07:30
4,261465-2018,2018,18-042785,12/06/2018 12:00:00 AM,12:27,12/06/2018 02:46:14 PM,3940 ROSEMEADE PKWY,NaN,75287.0,DALLAS,...,NaN,NaN,NaN,NaN,NaN,No,NaN,"JACKET, SHIRT, JEANS, SHOES",NaN,2018-12-19 17:36:58

In [4]:
df.columns

Index(['IncidentNum', 'ArrestYr', 'ArrestNumber', 'ArArrestDate',
       'ArArrestTime', 'ArBkDate', 'ArLAddress', 'ArLApt', 'ArLZip', 'ArLCity',
       'ArState', 'ArLCounty', 'ArLRA', 'ArLBeat', 'ArLDistrict', 'ArLSector',
       'ArADOW', 'ArPremises', 'CFS_Number', 'ArOfcr1', 'ArOfcr2',
       'Transport1', 'Transport2', 'Transport3', 'Search1', 'ArAction',
       'ArWeapon', 'ArOSR', 'ArResisted', 'ArCurrLoc', 'ArCond', 'ArMedFlag',
       'ArMedLoc', 'ArOpComm', 'ArresteeName', 'NickName', 'AliasName',
       'BirthPlace', 'Age', 'AgeAtArrestTime', 'HAddress', 'HApt', 'HZIP',
       'HCity', 'HState', 'HRA', 'HBeat', 'Height', 'Weight', 'Hair', 'Eyes',
       'Race', 'Ethnic', 'Sex', 'Tatoo', 'TatooComment', 'Occupation',
       'JobSchStatus', 'Employer', 'Drug', 'DrugRelated', 'DrugType',
       'ClothingWorn', 'Expunged', 'UpZDate'],
      dtype='object')

In [17]:
df.groupby('ArLAddress')['ArrestNumber'].count().sort_values(ascending=False).head()

ArLAddress
1818 CORSICANA ST          492
9301 FOREST LN             432
500 PARK AVE               424
1521 N COCKRELL HILL RD    348
200 SHORT BLVD             336
Name: ArrestNumber, dtype: int64