In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv('data/Police_Response_to_Resistance_-_2016.csv')

In [18]:
df.head()

,OBJECTID,FILENUM,UOFNum,Address,OCCURRED_D,OCCURRED_T,CURRENT_BA,OffSex,OffRace,HIRE_DT,...,CitChargeT,RA,BEAT,SECTOR,DIVISION,DIST_NAME,TAAG_Name,X,Y,GeoLocation
0,609,UF2016-1185,[37702],211 N ERVAY ST,09/03/2016,4:14:00 AM,10810,Male,Black,05/07/2014,...,APOWW,2062,134,130,CENTRAL,D14,,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79..."
1,"1,705",UF2016-0418,[33413],7647 FERGUSON RD,03/22/2016,11:00:00 PM,7706,Male,White,01/08/1999,...,APOWW,1197,237,230,NORTHEAST,D9,Ferguson Highland*,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96...."
2,"1,239",UF2016-0616,[34567],716 BIMEBELLA LN,05/22/2016,1:29:00 PM,11014,Male,Black,05/20/2015,...,APOWW,4153,432,430,SOUTHWEST,D6,,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9..."
3,"2,320",UF2016-1349,[31460],5600 L B J FWY,01/10/2016,8:55:00 PM,6692,Male,Black,07/29/1991,...,Evading Arrest,4523,641,640,NORTH CENTRAL,D11,,NaN,NaN,"5600 L B J FWY\nDallas, TX"
4,221,UF2016-1303,"[37879, 37898]",4600 S MALCOLM X BLVD,11/08/2016,2:30:00 AM,9844,Male,White,10/04/2009,...,Other Misdemeanor Arrest,2167,346,340,SOUTHEAST,D7,Hatcher Scyene*,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX"

In [4]:
import ast

In [17]:
df.UOFNum = df.UOFNum.apply(lambda x:x.lstrip().split(','))

In [15]:
df['UOFNum'][3].lstrip().split(',')

['31460']

In [21]:
len(df.UOFNum[0])

1

In [25]:
df['UOFLen'] = df.UOFNum.apply(lambda x:len(x))

In [26]:
df.head()

,OBJECTID,FILENUM,UOFNum,Address,OCCURRED_D,OCCURRED_T,CURRENT_BA,OffSex,OffRace,HIRE_DT,...,RA,BEAT,SECTOR,DIVISION,DIST_NAME,TAAG_Name,X,Y,GeoLocation,UOFLen
0,609,UF2016-1185,[37702],211 N ERVAY ST,09/03/2016,4:14:00 AM,10810,Male,Black,05/07/2014,...,2062,134,130,CENTRAL,D14,,NaN,NaN,"211 N ERVAY ST\nDallas, TX\n(32.782205, -96.79...",1
1,"1,705",UF2016-0418,[33413],7647 FERGUSON RD,03/22/2016,11:00:00 PM,7706,Male,White,01/08/1999,...,1197,237,230,NORTHEAST,D9,Ferguson Highland*,NaN,NaN,"7647 FERGUSON RD\nDallas, TX\n(32.798978, -96....",1
2,"1,239",UF2016-0616,[34567],716 BIMEBELLA LN,05/22/2016,1:29:00 PM,11014,Male,Black,05/20/2015,...,4153,432,430,SOUTHWEST,D6,,NaN,NaN,"716 BIMEBELLA LN\nDallas, TX\n(32.73971, -96.9...",1
3,"2,320",UF2016-1349,[31460],5600 L B J FWY,01/10/2016,8:55:00 PM,6692,Male,Black,07/29/1991,...,4523,641,640,NORTH CENTRAL,D11,,NaN,NaN,"5600 L B J FWY\nDallas, TX",1
4,221,UF2016-1303,"[37879, 37898]",4600 S MALCOLM X BLVD,11/08/2016,2:30:00 AM,9844,Male,White,10/04/2009,...,2167,346,340,SOUTHEAST,D7,Hatcher Scyene*,NaN,NaN,"4600 S MALCOLM X BLVD\nDallas, TX",2

In [27]:
df.UOFLen.median()

2.0

In [28]:
df.UOFLen.mean()

2.318925723877465

In [32]:
df[df.CURRENT_BA == 10724].UOFLen.median()

3.0

In [33]:
df[df.CURRENT_BA == 10724].UOFLen.mean()

3.8

In [34]:
df.columns

Index(['OBJECTID', 'FILENUM', 'UOFNum', 'Address', 'OCCURRED_D', 'OCCURRED_T',
       'CURRENT_BA', 'OffSex', 'OffRace', 'HIRE_DT', 'OFF_INJURE',
       'OffCondTyp', 'OFF_HOSPIT', 'SERVICE_TY', 'ForceType', 'UOF_REASON',
       'Cycles_Num', 'ForceEffec', 'STREET_N', 'STREET', 'street_g',
       'street_t', 'CitNum', 'CitRace', 'CitSex', 'CIT_INJURE', 'CitCondTyp',
       'CIT_ARREST', 'CIT_INFL_A', 'CitChargeT', 'RA', 'BEAT', 'SECTOR',
       'DIVISION', 'DIST_NAME', 'TAAG_Name', 'X', 'Y', 'GeoLocation',
       'UOFLen'],
      dtype='object')

In [36]:
# df.UOFNum = df.UOFNum.apply(lambda x:x.lstrip().split(','))
df.ForceType = df.ForceType.apply(lambda x:x.lstrip().split(','))

In [42]:
df.ForceType[4]

['Verbal Command', ' Take Down - Arm']

In [43]:
from collections import defaultdict

In [59]:
ft_dict = defaultdict(int)

In [60]:
for item in df[df.CURRENT_BA == 10724]['ForceType']:
    for i in item:
        
        ft_dict[i.lstrip()] += 1

In [61]:
ft_dict

defaultdict(int,
            {'Verbal Command': 32,
             'Pressure Points': 12,
             'Joint Locks': 16,
             'BD - Grabbed': 8,
             'Hand Controlled Escort': 3,
             'Held Suspect Down': 10,
             'Taser Display at Person': 2,
             'Take Down - Body': 1,
             'BD - Pushed': 2,
             'Feet/Leg/Knee Strike': 1,
             'BD - Tripped': 2,
             'Hand/Arm/Elbow Strike': 2,
             'Take Down - Arm': 1,
             'Weapon display at Person': 1,
             'Handcuffing Take Down': 1,
             'Take Down - Head': 1})

In [57]:
i = ' Pressure Points'

In [58]:
i.lstrip()

'Pressure Points'

In [ ]:
'Verbal Command': 32,
'Joint Locks': 16,
'Pressure Points': 12,
'Held Suspect Down': 10,